{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Langlaufvereniging{% endblock title %}</title>
    {% block csslinks %}{% endblock csslinks %}
    <link rel="stylesheet" href="{% static 'base/css/styles.css' %}">

    
 
</head>
 
<body>
    <div class="content">
        {% include "base/menu.html" %}
        {% if messages %}
        <div class="messages">
            {%for message in messages %}
                {{message}}<br>
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}{% endblock content %}


    </div>





   
</body>


</html>