{% extends 'base/base.html' %}

{% block content %}
<h1>{{ profiel_user.username }}</h1>

{% if tastings %}
    {% for tasting in tastings %}
    <div class="tasting-item">
        <strong>{{ tasting.bean.name }}</strong>
        {% if tasting.bean.country_of_origin %}<em>({{ tasting.bean.country_of_origin }})</em>{% endif %}
        <span>{{ tasting.date }}</span>
        <p>{{ tasting.description }}</p>
    </div>
    {% endfor %}
{% else %}
    <p>{{ profiel_user.username }} heeft nog geen tastings.</p>
{% endif %}
{% endblock content %}