body {
    background-color: rgb(183, 232, 217);
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
}

.WorldImagePng {
    /* margin-left: 1rem; */
    width: 2.5rem;
}

.main_menu{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0.9375rem 1.875rem;
    background:#d87d86;
    border:0.125rem solid #888;
    width: 100%;
    box-sizing: border-box;
}
